<!DOCTYPE html>
<html>
<head>
    <title>Student Activity Platform</title>
</head>
<body>

<h2>Student Activity Platform</h2>

<h3>Add Student</h3>
<form action="/add" method="POST">
    Name: <input type="text" name="name"><br><br>
    Department: <input type="text" name="department"><br><br>
    Year: <input type="number" name="year"><br><br>
    Email: <input type="text" name="email"><br><br>
    Phone: <input type="text" name="phone"><br><br>
    <button type="submit">Add Student</button>
</form>

<h3>Student List</h3>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Year</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student[0] }}</td>
        <td>{{ student[1] }}</td>
        <td>{{ student[2] }}</td>
        <td>{{ student[3] }}</td>
        <td>{{ student[4] }}</td>
        <td>{{ student[5] }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>